* {
  box-sizing: border-box;
}

/* Styling for app container */

.container {
  width: 350px;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin: 20px auto 0;
  padding: 10px 20px;
}

/* Styling for header/nav area */

.app-title {
  font-family: sans-serif;
  margin-top: 30px;
  margin-left: 30px;
}

.add-bookmark-btn,
.dropdown-menu,
.bookmark-rating {
  display: inline-block;
}

.dropdown-menu fieldset {
  border: none;
  margin-left: 60px;
}

/* Styling for bookmark list */

.bookmark-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid lightgray;
  margin: 15px auto 15px;
  width: 100%;
  padding-bottom: 10px;
}

.bookmark-title {
  margin: 0;
  padding: 10px 20px;
  background-color: lightgray;
  cursor: pointer;
}

.bookmark-desc {
  padding: 0 20px;
  font-size: 18px;
}

.visit-site-btn {
  display: block;
  margin: 20px auto;
  padding: 8px 30px;
}

.bookmark-rating {
  padding: 10px 20px;
}

.delete-bookmark-btn {
  display: inline-block;
}

/* Styling for Add Bookmark form */

.add-bookmark-form fieldset {
  border: none;
  margin-top: 10px;
}

.add-bookmark-form legend {
  font-size: 26px;
  text-align: center;
}

.input-info input {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.star-rating {
  text-align: center;
}

.star-rating label {
  display: inline-block;
  cursor: pointer;
  /* width: 50px; */
}